.container {
    display: inline;
}

.navbar {
    min-width: 100%;
    min-height: 100px;
    display: block;
    background: white;
}
.title {
    margin : 0;
    text-align: center;
    font-size: 2rem;
    padding-top: 20px;
}