<div class="container">
    <div class="chart-container">
        <div class="graphWrapper">
            <div class="title">
                <div class="container-left">
                    <shared-video-details></shared-video-details>
                </div>
                <p class="titletext">Graph</p>
                <div class="container-right">
                    <visualizer-node-details></visualizer-node-details>
                </div>        
            </div>
            <visualizer-chart></visualizer-chart>
        </div>
    </div>
    <!-- <div class="details-container">
        <visualizer-node-details></visualizer-node-details>
    </div> -->
    <!-- <div class="graph-container">
        <visualizer-graph></visualizer-graph>
    </div> -->
</div>
<div class="buttonContainer">
    <button type="button" class="start">Start</button>
</div>