@import './../../../../../assets/scss/mixins/mixins';

.container {
    display: flex;
}

.chart-container, .graph-container,.details-container {
    flex: 1;
    height: 75vh;
}

.chart-container {
    height : 80vh;
}

.title {
    text-align: center;
    font-size: 1.6rem;
    padding: 20px;
    margin: 0 0 10px 0;
    position: relative;
    height: 100%;

    .titletext {
        margin: 0;
    }
    .container-left {
        position: absolute;
        min-width: 30%;
        left: 10;
        top: 0;
    }
    .container-right {
        position: absolute;
        right: 20px;
        top: 0;
        min-width: 20%;
    }
}
.container-bottom-right {
    position: absolute;
    bottom: 110px;
    right:50px
}

.buttonContainer {
    width: 100%;
    text-align: center;
    button {
        cursor: pointer;
      @include general-button-box(#FF5722, white)
    }
  }

.graphWrapper {
    min-width: 40%;
    max-width: 95%;
    margin: auto;
    background-color: white;
    min-height: 50%;
    font-size: 1.6rem;
    margin-top: 20px;
    position: relative;
    @include general-box-with-shadow;
}
  