<div class="container">
    <div class="chart-container">
        <div class="graphWrapper">
            <p class="title">Graph</p>
            <visualizer-chart></visualizer-chart>
        </div>
    </div>
    <div class="details-container">
        <visualizer-node-details></visualizer-node-details>
    </div>
    <!-- <div class="graph-container">
        <visualizer-graph></visualizer-graph>
    </div> -->
</div>
<div class="buttonContainer">
    <button type="button" class="start">Start</button>
</div>