@import './../../../../../assets/scss/mixins/mixins';

.container {
    width: 100% !important;
    height: 100%;
    text-align: center;
    z-index: 100;
}

.nodeDetails {
    min-width: 100%;
    max-width: 270px;
    min-height: 20vh;
    background-color: white;
    min-height: 70%;
    font-size: 1.2rem;
    margin-top: 20px;
    @include general-box-with-shadow;
}

.title {
    padding: 20px;
    padding-bottom: 10px;
    margin: 0;
}

.body {
    text-align: left;
    line-height: 2;
    padding: 10px 35px;
}

.centerText {
    width: 100%;
    text-align: center;
}
