<div class="container" *ngIf="node">
  <div class="nodeDetails">
    <div class="title"><strong>Participant Details</strong></div>
    <ng-container *ngIf="node">
      <div class="body" *ngIf="node !== 'done' else final">
        <div class="row">
          <p class="label">Name</p>
          <p class="labelValue">{{node?.name}}</p>
        </div>
        <div class="row">
          <p class="label">Gender</p>
          <p class="labelValue">{{node?.gender}}</p>
        </div>
        <div class="row">
          <p class="label">Location</p>
          <p class="labelValue">{{node?.location}}</p>
        </div>
        <div class="row">
          <p class="label">Tone</p>
          <p class="labelValue" [ngClass]="{'redText': node?.tone == 'negative', 'greenText': node?.tone == 'positive'}">{{node?.tone}}</p>
        </div>
        <div class="row">
          <p class="label">Duration</p>
          <p class="labelValue">{{node?.duration}}</p>
        </div>
        <div class="row">
          <p class="label">Video Status</p>
          <p class="labelValue">{{node?.videoStatus}}</p>
        </div>
      </div>
      <ng-template #final>
        <div class="body">
          <p class="centerText">Session Completed !</p>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
