@import './../../../../../assets/scss/mixins/mixins';


.container {
    width: 100% !important;
    height: 100%;
    text-align: center;
    z-index: 100;
}

.nodeDetails {
    min-width: 60%;
    max-width: 270px;
    min-height: 20vh;
    background-color: white;
    min-height: 70%;
    font-size: 1rem;
    margin-top: 20px;
    background: #c7ffc7;
    @include general-box-with-shadow;
}

.title {
    padding: 10px 0 0px 0;
    font-size: 1.2rem;
    margin: 0;
}

.body {
    text-align: left;
    line-height: 1.4;
    padding: 5px 35px;
}

.centerText {
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    .label, .labelValue {
        flex: 1;
    }
}

.label {
    max-width: 109px;
}

p {
    margin : 0;
}

.buttonContainer {
    width: 100%;
    .cliker {
        text-decoration: none;
        cursor: pointer;
        padding: 20px;
        margin: auto;
    }
}

