/* You can add global styles to this file, and also import other style files */
@import './assets/fontawesome-free-5.10.2-web/css/all.css';
 body {
     margin: 0;
     padding: 0;
     background-color: #EEEEEE;
 }